/* Responsive inicio */
@media (max-width: 1125px) {
   .main h1 {
        font-size: 2rem;
        margin: auto;
        flex-wrap: wrap;
    }

    .video iframe {
        width: 40vw;
        flex-wrap: wrap;
    }

    .mapa iframe {
        width: 40vw;
        flex-wrap: wrap;
    }

    .main img {

        max-width: 50vw;

    }
}

/* Responsive Hinchadas */
@media (max-width: 1000px) {
    #Hinchadas .grilla {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "Ford"
            "Dodge"
            "Chevrolet"
            "Torino";

    }

    #Hinchadas .h2 {
        text-align: center;
        flex-wrap: wrap;
    }

    #Hinchadas img {
        margin-left: 30vw;
    }


}

/* Responsive equipos */
@media (max-width:910px) {
    #Equipos img {
        width: 100vw;
    }
}

/* Responsive Historia */
@media(max-width: 1310px) {
    #Historia img {
        flex-wrap: nowrap;
        max-width: 200px;
        margin-left: 80px;

    }
}

/* media query tickets */
@media (max-width:900px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "Venta"
            "Suscripcion";
    }

    .Venta {
        grid-area: Venta;
    }

    .Suscripcion {
        grid-area: Suscripcion;
    }
}